.vscode/
*.py[cmd]
package-lock.json
**/node_modules/
*.cache
*.pdb
Release/
Debug/
obj/
bin/
.ipynb_checkpoints
venv/
.env
*.htpasswd
packages/*
.idea/
*.crt
secret*
pass_*
*.sqlite
data_db/
sharding_config/
keyfile
*.sql.gz
*.tar.gz
*.volume_dir/
.kube/
**/.DS_Store
**/demo.rest
*ignoreme*
!SecretManager.md