### /usr/lib/systemd/system/prometheus.service

[Unit]
Description=prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
KillMode=process
TimeoutSec=5

User=root
Group=root

ExecStart=/bin/prometheus-lts --config.file=/etc/prometheus/prometheus.yml --web.listen-address="0.0.0.0:9090"

[Install]
WantedBy=multi-user.target