[client]
default-character-set   = utf8
socket                  = /tmp/mysqld.sock


[mysqld_safe]
pid-file                = /tmp/mysqld.pid
socket                  = /tmp/mysqld.sock
nice                    = 0
lower_case_table_names  = 1


[mysqld]
user                    = root
skip-host-cache
skip-name-resolve
pid-file                = /tmp/mysqld.pid
socket                  = /tmp/mysqld.sock
tmpdir                  = /tmp
explicit_defaults_for_timestamp
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links          = 0
character-set-server    = utf8

### Logs =========================================================
# Normal Log -------------------------------------------------
log_error               = /var/lib/mysql/error.log

# General Log ------------------------------------------------
general_log_file        = /var/lib/mysql/general.log
general_log             = OFF

# Slow Log ---------------------------------------------------
slow_query_log_file     = /var/lib/mysql/slow_query.log
slow_query_log          = ON
long_query_time         = 2

# Replication Log --------------------------------------------
log_bin                 = /var/lib/mysql/mysql_bin.log
server_id               = 12

# Tuning Needed ================================================
; join_buffer_size        = 8388608
; key_buffer_size         = 536870912
; read_buffer_size        = 8388608
; read_rnd_buffer_size    = 16777216
; sort_buffer_size        = 8388608
; innodb_buffer_pool_size = 2147483648
; tmp_table_size          = 67108864

# Other ========================================================
concurrent_insert       = ALWAYS
tmpdir                  = /tmp
event_scheduler         = ON

!includedir /etc/mysql/conf.d/