# To limit exposure to denial of service attacks, change the host in endpoints below from 0.0.0.0 to a specific network interface.
# See https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/security-best-practices.md#safeguards-against-denial-of-service-attacks

extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

receivers:
  # OtelCollector 額外支援 receivers: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver
  otlp:
    # OTLP protocol receiver
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

  prometheus:
    # Prometheus scrape receiver
    config:
      scrape_configs:
      - job_name: 'otel-collector'
        scrape_interval: 10s
        static_configs:
        - targets: [ '0.0.0.0:8888' ]

  jaeger:
    # Jaeger receiver
    protocols:
      grpc:
        endpoint: 0.0.0.0:14250
      thrift_binary:
        endpoint: 0.0.0.0:6832
      thrift_compact:
        endpoint: 0.0.0.0:6831
      thrift_http:
        endpoint: 0.0.0.0:14268

  zipkin:
    # Zipkin receiver
    endpoint: 0.0.0.0:9411

  kafka:
    # Kafka receiver
    endpoint: 0.0.0.0:9092

processors:
  # OtelCollector 原生 processors: https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor
  # OtelCollector 額外支援 processors: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor
  batch: {}
  # 額外其他常見的處理像是:
  # attributes
  # filtering
  # updating
  # creating
  # deleting


exporters:
  debug:
    verbosity: detailed

service:

  pipelines:

    traces:
      receivers: [ otlp, jaeger, zipkin ]
      processors: [ batch ]
      exporters: [ debug ]

    metrics:
      receivers: [ otlp, prometheus ]
      processors: [ batch ]
      exporters: [ debug ]

    logs:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ debug ]

  extensions: [ health_check, pprof, zpages ]
