{{/* 來自 https://grafana.com/docs/grafana/latest/alerting/configure-notifications/template-notifications/ 的範例 */}}
{{ define "custom.alerts" -}}
{{ len .Alerts }} alert(s)
{{ range .Alerts -}}
    {{ template "alert.summary_and_description" . -}}
{{ end -}}
{{ end -}}
{{ define "alert.summary_and_description" }}
  Summary: {{ .Annotations.summary }}
  Status: {{ .Status }}
  Description: {{ .Annotations.description }}
{{ end }}

#2 alert(s)
#
#  Summary: The database server db1 has exceeded 75% of available disk space.
#  Status: firing
#  Description: This alert fires when a database server is at risk of running out of disk space. You should take measures to increase the maximum available disk space as soon as possible to avoid possible corruption.
#
#  Summary: The web server web1 has been responding to 5% of HTTP requests with 5xx errors for the last 5 minutes.
#  Status: resolved
#  Description: This alert fires when a web server responds with more 5xx errors than is expected. This could be an issue with the web server or a backend service.